* {
	padding:0;
	margin:0;
}

body{
	font-size: 14px;
	color: #656d78;
	background-color: #f5f7fa;
	position: relative;
}

.container{
	width: 1190px;
	margin-left: auto;
	margin-right: auto;
}

.nav{
	background: url(../images/head1-1.jpg) no-repeat;
	height: 50px;
	margin-bottom: 50px;
}
.nav .user_welcome {
	margin-left: 1000px;
	line-height: 50px;
}
.nav .user_welcome .loginout {
	text-decoration: none;
}
.nav .user_welcome .loginout:hover {
	text-decoration: underline;
}

.top{
	background: url(../images/head2-1.jpg);
	height:150px;
}
.top .top_img{
	position: absolute;
	height: 150px;
	width: 150px;
	top:65px;
	left:150px;
}
.top .top_input{
	position: absolute;
	top: 200px;
	right:210px;
	border:0px;
	width:280px;
	height: 40px;
	font-size: 25px;
	background: url(../images/搜索框330x40.jpg);
	border-bottom-left-radius:0.2em;
	border-top-left-radius:0.2em;
}
.top .top_button {
	position: absolute;
	top: 200px;
	right:170px;
	height: 40px;
	width: 40px;
	border:0;
	background: url(../images/搜索框330x40.jpg);
	background-position: -290px 0;
	border-bottom-right-radius:0.3em;
	border-top-right-radius:0.3em;
}
.top .top_button:hover {
	cursor: pointer;
}

.choose {
	height: 600px;
	background-color: lightgreen;
	position: relative;
}
.choose .choose_right {
	height: 590px;
	width: 1000px;
	background-color: pink;
	float: right;
	margin-right: 20px;
	display: block;
}
.choose .choose_left {
	height: 140px;
	width: 160px;
	background-color: white;
	margin-top: 10px;
	margin-left: 10px;
}
.choose .choose_left .over {
	background-color: blue;
	height: 590px;
	width: 1000px;
	display: none;
	top: 0;
	left: 160px;
	position: absolute;
}
.choose .choose_left .restarant {
	background-color: pink;
}
.choose .choose_left .x {
	background-color: yellow;
}
.choose .choose_left .xx {
	background-color: lightblue;
}
.choose .choose_left .xxx{
	background-color: grey;
}
.choose .choose_left .over .rest {
	height:200px;
	width:300px;
	margin-top:40px;
	margin-left: 20px;
}

.footer{
	height: 90px;
}
.footer .ul1 {
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #999;
	clear: both;
}
.footer .ul2 {
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #999;
	clear: both;
}
.footer li {
	display: inline;
}
.footer li a {
text-decoration: none;
color: #999;
}
.footer p {
	text-align: center;
	color: #666;
}